@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

body{
    background-color: #F5F5F5;
}

.uk-textarea {
    resize: vertical;
 }

h1.uk-heading-large {
    text-align: center;
    font-size: 3rem;
    font-family: Roboto, sans-serif;
}

h2 {
    text-align: center;
}

.text-rouge-fonce {
    color:#990000;
}

.uk-card-title-center {
    text-align: center;
}

.uk-margin-remove-top {
    text-align: center;
}

p, td, th{
    font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3, h4, h5, a, b {
    font-family: 'Roboto', sans-serif !important;
}


a {
    color: #D20603;
    text-decoration: none;
}

.uk-link, a:hover {
    color: #990000;
    text-decoration: none;
}

.footer {
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
}

html{
    background-color: #F5F5F5;
    height: 100%;

}

main {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 95px;
}

.navbar-normal {
    display: none;
}

.navbar-mobile {
    z-index: 1000;
    width: 100%;
    position: fixed;
}

@media only screen
and (min-width: 950px) {
    .navbar-normal {
        display: block;
        height: 80px;
    }

    .navbar-mobile {
        display: none;
    }

    main {
        padding-top: 0;
    }
}

@media (max-width: 500px) {
    .titre {
        font-size: 2rem;
    }
}

/*********************/
/****NAVBAR-MOBILE****/
/*********************/
nav.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #990000;
}

.uk-navbar-toggle,
.uk-navbar-toggle:hover {
    color: white;
}

.uk-offcanvas-bar {
    background-color: #990000;
    border-right: white solid 1px;
    /*LOL*/
}

.uk-offcanvas-bar .uk-nav-default > li > a,
.uk-offcanvas-bar .uk-nav-default > li > a:hover {
    color: white;
}

.illustration {
    width: 100%;
    height: auto;
}

.chevron-down {
    height: 100%;
    opacity: 50%;
}

.switcher-active .chevron-down {
    opacity: 100%;
    color: #D20603
  }

.switcher-active .uk-card-title {
    color: #D20603
}

div.switcher-buttons button.uk-button.uk-button-default {
    background-color: #D20603;
    color: white;
    border: 0;
}

div.switcher-buttons button.uk-button.uk-button-default.uk-active {
    background-color: #990000;
}