.badge-udc {
    background-color: #138b3d;
}

.badge-ps {
    background-color: #CB423C;
}

.badge-plr {
    background-color: #009FDA;
}

.badge-verts {
    background-color: #84B414;
}

.badge-pdc {
    background-color: #F6A12B;
}

.badge-pvl {
    background-color: #A5CB3E;
}

.badge-pbd {
    background-color: #FFDD00;
}

.badge-pev {
    background-color: #EDD213;
}

.badge-lega {
    background-color: #0168B3;
}

.badge-pop {
    background-color: #FF2600;
}

.badge-sol {
    background-color: #FF0000;
}

.badge-sp {
    background-color: white;
    color: #D20603;
}

.badge-pcsi {
    background-color: #00909B;
}

.badge-gauche{
    background-color: #84B414;
}

.badge-chancelier {
    background-color: #8E8E8E;
}