.uk-offcanvas-bar .uk-nav-default > li > a,
.uk-offcanvas-bar .uk-nav-default > li > a:hover {
    color: white;
}

.uk-light .uk-navbar-nav > li > a {
    color: white;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
background-color: #D20603;
text-align: center;
}

.active {
    background-color: #990000;
}

.logo{
    height: 6%;
}