nav.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #990000;
}

.uk-navbar-toggle,
.uk-navbar-toggle:hover {
    color: white;
}

.uk-offcanvas-bar {
    background-color: #990000;
    border-right: white solid 1px;
}

.uk-offcanvas-bar .uk-nav-default > li > a,
.uk-offcanvas-bar .uk-nav-default > li > a:hover {
    color: white;
}

html {
    background-color: transparent !important;
}
