a {
    text-decoration: none !important;
}

.titre {
    color: #990000;
    text-align: center;
}

.logo {
    width: 100%;
}

.uk-grid-small {
 text-align: center;
}

.switcher-buttons {
    text-align: center;
}

.switcher-buttons button {
    margin-top: 2%;
}

@media (max-width: 500px) {
    .cards {
        text-align: center;
    }

    .titre {
        font-size: 2rem;
    }
}