a {
    text-decoration: none !important;
}

.image-parti{
    height: 70px;
    text-align: center;
}

.image-parti > img {
    height: 100%;
    width: auto;
}

.titre {
    color: #990000;
    text-align: center;
}

.uk-card-title{
    color: black;
}

.uk-card{
    width:100%;
    color: #6D7275;
}

.uk-text-meta {
    color: black;
}

.uk-card-body{
    color: white;
}

.uk-button-text{
    color: white;
}
.cards {
    height: 100%;
    color: white;
    background-color: #990000;
    text-decoration: none;
}

.cards:hover {
    opacity: 75%;
    transition: 500ms;
}

.div_image {
    max-height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center; 
}

.image {
    width:100%;
    height:300px;
    margin: auto;
}

@media (max-width: 500px) {
    .cards {
        text-align: center;
    }

    .titre {
        font-size: 2rem;
    }
}

.uk-card-body{
    background-color: #990000;
}

.uk-card-footer {
    color:black;
}

.uk-card .uk-button-text {
    color:black;
}

.uk-navbar-dropdown-nav > li > a {
    color: rgba(255,255,255,.5);
}

.uk-navbar-dropdown-nav > li > a:hover{
    color: rgba(255,255,255,.7);
}

.uk-navbar-dropdown-nav > li.uk-active > a {
    color: #fff;
}