.titre {
    color: #990000;
    text-align: center;
}

@media (max-width: 500px) {
    .cards {
        text-align: center;
    }

    .titre {
        font-size: 2rem;
    }
}

.text-fonction {
    font-size: 1.1rem;
}

.badge-udc {
   background-color: #138b3d;
}

.uk-card-title-center {
    font-size: 1.3rem;
}