a {
    text-decoration: none;
}

.titre {
    color: #990000;
    text-align: center;
}

.uk-button-text{
    color: white;
}

h3 a.titre-carte{
    font-size: 2rem;
}

.cards {
    height: 100%;
    color: white;
    background-color: #990000;
}

.cards:hover {
    opacity: 75%;
    transition: 500ms;
}

.logo {
    width: 100%;
}


.uk-grid-small {
    text-align: center;
}

.switcher-buttons {
    text-align: center;
}

.switcher-buttons button {
    margin-top: 2%;
}

@media (max-width: 500px) {
    .cards {
        text-align: center;
    }

    .titre {
        font-size: 2rem;
    }
}